<?xml version="1.0" encoding="utf-8"?>
<!--
  This is the configuration for the development and debugging of the Illarion Server.
-->
<InstanceConfiguration
    MaxMessageSize="512000"
    MaxQueuedDataPerPeer="512000"
    PerPeerMaxReliableDataInTransit="51200"
    PerPeerTransmitRateLimitKBSec="256"
    PerPeerTransmitRatePeriodMilliseconds="200"
    MinimumTimeout="5000"
    MaximumTimeout="30000">

  <!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
  <!-- Port 5055 is Photon's default for UDP connections. -->
  <UDPListeners>
    <UDPListener
      IPAddress="0.0.0.0"
      Port="5055">
    </UDPListener>
  </UDPListeners>

  <!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
  <!-- Port 4530 is Photon's default for TCP connecttions. -->
  <!-- A Policy application is defined in case that policy requests are sent to this listener (known bug of some some flash clients) -->
  <TCPListeners>
    <TCPListener
      IPAddress="0.0.0.0"
      Port="4530"
      PolicyApplication="Policy">
    </TCPListener>
  </TCPListeners>

  <!-- Policy request listener for Unity and Flash (port 843) and Silverlight (port 943)  -->
  <PolicyFileListeners>
    <!-- multiple Listeners allowed for different ports -->
    <PolicyFileListener
      IPAddress="0.0.0.0"
      Port="843"
      PolicyFile="bin\socket-policy.xml"
      InactivityTimeout="10000">
    </PolicyFileListener>
  </PolicyFileListeners>

  <!-- Defines the Photon Runtime Assembly to use. -->
  <Runtime
    Assembly="PhotonHostRuntime, Culture=neutral"
    Type="PhotonHostRuntime.PhotonDomainManager"
    CLRVersion = "v4.0"
    UnhandledExceptionPolicy="Ignore">
  </Runtime>


  <!-- Defines which applications are loaded on start and which of them is used by default. Make sure the default application is defined. -->
  <!-- Application-folders must be located in the same folder as the bin_win32 folders. The BaseDirectory must include a "bin" folder. -->
  <Applications Default="Illarion">
    <Application
      Name="Illarion"
      BaseDirectory=""
      Assembly="Illarion.Server.Photon"
      Type="Illarion.Server.Photon.ServerApplication"
      ForceAutoRestart="true"
      WatchFiles="dll;config"
      ApplicationRootDirectory=".">
    </Application>
  </Applications>
</InstanceConfiguration>
